<div class="container-fluid top-fluid">
    <div class="row text-center">
      <div class="col-md-3">
      <h1 class="title"><a class="nav-link" href="/">PIXIT</a></h1>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-2 nav-text">
      <h3><a class="nav-link" href="/leaderboard">Leaderboard</a></h3>
    </div>
     <div class="col-md-1 nav-text">
      <h3><a class="nav-link" href="/about">About</a></h3>
    </div>
     <div class="col-md-1 nav-text">
      <h3><a class="nav-link" href="/login">Login</a></h3>
    </div>
     <div class="col-md-1 nav-text">
      <h3><a class="nav-link" href="/register">Register</a></h3>
    </div>
  </div>
</div>
<div class="main">
    <div class="about-background">
            <p class="about-p"> 
                <span class="about-span">P</span>ixit is an app for people looking to make a real, tangible difference in the world every day. 
                Simply use the mobile app to track your location and start cleaning up your community!
                You can also join in with others nearby who have started a Pixit sesh with the app. 
            </p>
            <div class="about-image-container">
                <img class="about-image" alt="googleMaps from https://www.cnet.com/how-to/map-out-your-holiday-travel-with-these-6-google-maps-tips/" src="https://cnet2.cbsistatic.com/img/1wA7hlqSUmY0hvKq8gYvEX84v8Q=/2019/08/28/ae269afb-d3ab-4d3b-80e1-d0a89206e3a1/google-maps-2.jpg">
                <img class="about-image trash" alt="recyclePhoto from https://purepng.com/photo/11027/clipart-recycle-bin" src="https://www.recycling.com/wp-content/uploads/2016/06/recycling-symbol-icon-outline-solid-dark-green.png"> 
                <img class="about-image earth" alt="Earth Photo from https://www.livescience.com/earth.html" src="http://pngimg.com/uploads/earth/earth_PNG39.png">

            </div>
            <p class="about-p">
                <span class="about-span">W</span>hether you use it just to track your own progress
                or for a bit of friendly competition with other environmentally mindful neighbors in your community, Pixit makes cleaning fun!
            </p>
        </div>
</div>
