<div class="container-fluid top-fluid">
    <div class="row text-center">
      <div class="col-md-3">
      <h1 class="title"><a class="nav-link" href="/">PIXIT</a></h1>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-2 nav-text">
      <h3><a class="nav-link" href="/leaderboard">Leaderboard</a></h3>
    </div>
     <div class="col-md-1 nav-text">
      <h3><a class="nav-link" href="/about">About</a></h3>
    </div>
     <div class="col-md-1 nav-text">
      <h3><a class="nav-link" href="/login">Login</a></h3>
    </div>
     <div class="col-md-1 nav-text">
      <h3><a class="nav-link" href="/register">Register</a></h3>
    </div>
  </div>
</div>
<div class="main">
    <div class="container-table">
	<table>
		<thead>
			<tr>
				<th>Column 1</th>
				<th>Column 2</th>
				<th>Column 3</th>
				<th>Column 4</th>
				<th>Column 5</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Cell 1</td>
				<td>Cell 2</td>
				<td>Cell 3</td>
				<td>Cell 4</td>
				<td>Cell 5</td>
			</tr>
			<tr>
				<td>Cell 1</td>
				<td>Cell 2</td>
				<td>Cell 3</td>
				<td>Cell 4</td>
				<td>Cell 5</td>
			</tr>
			<tr>
				<td>Cell 1</td>
				<td>Cell 2</td>
				<td>Cell 3</td>
				<td>Cell 4</td>
				<td>Cell 5</td>
			</tr>
			<tr>
				<td>Cell 1</td>
				<td>Cell 2</td>
				<td>Cell 3</td>
				<td>Cell 4</td>
				<td>Cell 5</td>
			</tr>
			<tr>
				<td>Cell 1</td>
				<td>Cell 2</td>
				<td>Cell 3</td>
				<td>Cell 4</td>
				<td>Cell 5</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
